<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
    width: 1400px;
    height: 168px;
    border: 1px dotted black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.sub-div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
h3{
    color: rgb(31, 156, 31);
}
img{
    width:"24px";
    height: 14px;
}
</style>
<body>
    <div>
    <p>Add Candidates to Database</p>
    <div class="container"> 
        <h3>Thank You !</h3>
        <div class="sub-div">
            <img style="margin-right: 10px;" src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/tick-green-icon.png" alt="">
            <p style="margin: 0;">File Successfully Uploaded.</p>
        </div>
        
        <p>Your Records will be processed shortly.</p>
    </div>
</div>
</body>
</html>
<!-- <h1>File Upload Example</h1>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<label for="fileUpload">Select a file to upload:</label>
		<input type="file" name="profileImage" id="fileUpload" onchange="showUploadButton()">
		<br>
		<div id="uploadButtonDiv" style="display:none">
			<input type="submit" value="Upload">
		</div>
	</form> -->